@font-face {
    font-family: 'OPTICopperplate-Heavy';
    src: url('./OPTICopperplate-Heavy.otf') format('truetype'); /* Adjust path as needed */
}

@keyframes slidein{
    from {
        width:0;
        opacity: 0;
    }
    to {
        width:40%;
        opacity: 1; 
    }
}

@keyframes slidein2{
    from {
        width:0;
        opacity: 0;
    }
    to {
        width:100%;
        opacity: 1; 
    }
}


@keyframes fadein {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

h1{
    color: antiquewhite;
}

body{
    background-color: white;
    overflow-x: hidden;
}

.main_div{
    display:flex;
    height: 100%;
    width:100%;
    flex-wrap:wrap;
    justify-content:flex-start ;
    padding-top: 0%;
    align-items: stretch;
    background-color: black;
}

.description {
    display: flex;
    background-image: url('./images/marvel-comics-thor-superhero.jpg'); /* Specify the path to your image */
    background-size: cover; /* Adjusts the image to cover the entire area */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat;
    height: 800px;
    width:100%;
    color: white;
    padding-left: 5%;
    animation: slidein2 .5s ease-in-out forwards;
}

.navbar{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    width: 100%;
    height:100px;
}

.navbar_left{
    display: flex;
    position: fixed;
    background-color: white;
    color: black;
    border: 2px solid ;
    border-color: black;
    font-size: 100%;
    font-family:  'OPTICopperplate-Heavy', 'Garamond', serif;
    height: 80px;
    width: 40%;
    padding-left: 2%;
    padding-right: 2%;
    justify-content:space-between;
    z-index: 1000;
    transition: width .2s;
    transition-timing-function: ease-in;
    animation: slidein 1s ease-in-out forwards;
}

.menu_div{
    display:flex;
    padding-top: 30px;
}

.menu_pic{
    width: 50px;  
    height: 30px; 
}


.navbar_right{
    display: flex;
    justify-content: flex-end;
    gap: 10%;
    width: calc(100% - 40%);
    height: auto;
    padding-top: 2%;
    margin-left: 45%;
    padding-right: 5%;
    font-size: 1.7vw;
    font-family: 'Courier New', Courier, monospace;
    z-index: 1000;
}

.services{
    display: flex;
    height:fit-content;
    border-radius: 25%;
    transition: border .2s;
    border: 0px solid transparent;
    animation: fadein 1s ease-in-out forwards;
}

.services:hover{
    border: 4px solid white;
}

.projects{
    display: flex;
    height:fit-content;
    border-radius: 25%;
    transition: border .2s;
    border: 0px solid transparent;
    animation: fadein 1s ease-in-out forwards;
}

.projects:hover{
    border: 4px solid white;
}


.contact{
    display: flex;
    height:fit-content;
    border-radius: 25%;
    transition: border .2s;
    border: 0px solid transparent;
    animation: fadein 1s ease-in-out forwards;
}

.contact:hover{
    border: 4px solid white;
}

@media screen and (max-width: 600px){
    .navbar_left{
        width: calc(100% - 13%);
    }
}